.comment {
   display: flex;
   padding: 10px 0;
   border-bottom: 1px solid var(--secondary);
}

.comment:last-child {
   border-bottom: none;
   padding-bottom: 0;
}

.comment:first-child {
   padding-top: 0;
}

.commentContent {
   margin-left: 10px;
}
